.content .form {
    padding-top: 2rem;
}

.content .input, select {
    width: 100%;
}

.content button {
    margin-top: 1rem;
    width: 100%;
}

.secret h1 {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--primary-color);
    font-size: 2rem;
    opacity: 0.1;
}