.container {
    display: flex;
}

.friendsList {
    width: 300px;
    height: 100vh;
    position: fixed;
    margin-left: 21rem;
    justify-content: center;
    overflow-y: scroll;
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

h2 {
    margin-top: 2rem;
    text-align: center;
}

.input {
    margin: 1rem auto;
}

.close {
    display: none;
}

.open {
    display: flex;
}

.friendsIcon {
    display: none;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 2.5rem;
}

.friendItem {
    display: flex;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    align-items: center;

    cursor: pointer;
}

.friendItem:hover {
    background-color: #cecece;
}

#profilePic {
    font-size: 3rem;
    align-items: center;
}

#friendName {
    padding-left: 0.5rem;
}

.active {
    background-color: #cecece;
}

.messageContainer{
    margin-left: 40rem;
    width: 100%;
    height: 95vh;
}

.messageContainer h1 {
    padding-bottom: 1rem;
}

.messages {
    display: grid;

    overflow-y: scroll;

}

.message {
    padding: 0.75rem 0.75rem;
    border-radius: 1rem;
}

#receive {
    background-color: #dad8d8;
    justify-self: start;
    max-width: 25vw;
    height: fit-content;
    padding: 0.5rem 1rem;
}

#sent {
    background-color: var(--primary-color);
    justify-self: end;
    max-width: 25vw;
    height: fit-content;
    padding: 0.5rem 1rem;
    color: white;
}

.timestamp {
    justify-self: center;
    font-size: 13px;
    color: #999999;
    padding: 0.5rem 1rem;
}

.sendMessage {
    position: absolute;
    bottom: 0;
    left: 41rem;
}

.sendMessage .input {
    width: 40vw;
    height: 40px;
}

#sendBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
}

.user {
    display: flex;
    width: 100%;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    align-items: center;

    cursor: pointer;
}

.user:hover {
    background-color: #cecece;
}

.addIcon {
    flex-grow: 5;
    text-align: end;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

#username {
    padding-left: 0.5rem;
}

.allUsers {
    display: none;
}

/* Responsive */

@media only screen and (max-width: 1200px) {
    .sendMessage .input {
        width: 30vw;
    }

    .friendsList {
        width: 200px;
    }

    .input {
        width: 15vw;
    }

    .messageContainer{
        margin-left: 35rem;
        width: 100%;
        height: 95vh;
    }
    .sendMessage {
        position: fixed;
        bottom: 0rem;
        left: 5rem;
        margin-left: 30rem;
    }
    
    .sendMessage .input {
        width: 35vw;
    }
}

@media only screen and (max-width: 1000px) {

    .sendMessage .input {
        width: 25vw;
    }
}

/* Laptop */
@media only screen and (max-width: 800px) {
    .friendsList {
        width: 200px;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    h1 {
        font-size: 22px;
    }

    
    .messageContainer{
        margin-left: 15rem;
        width: 100%;
        height: 95vh;
    }

    .sendMessage {
        margin-left: 15rem;
    }

    .sendMessage {
        position: fixed;
        bottom: 0rem;
        left: 5rem;
        margin-left: 15rem;
    }
    
    .sendMessage .input {
        width: 40vw;
    }
    
    #sendBtn {
        position: fixed;
        bottom: 1.4rem;
        left: 90vw;
        font-size: 2rem;
    }

}

/* Mobile */
@media only screen and (max-width: 500px) {
    .messageContainer{
        margin-left: 2rem;
        width: 100%;
        height: 95vh;
    }
    
    .close-friends {
        display: none;
    }

    .friendsList {
        width: 90vw;
    }

    .input {
        width: 70vw;
    }

    .friendsIcon {
        display: block;
        cursor: pointer;

        width: 30px;
        height: 25px;
        position: fixed;
        bottom: 2rem;
        left: 1rem;
    }

    .open {
        display: flex;
    }

    .friends-open {
        width: 100vw;
        height: 100vw;
    }

    #receive {
        max-width: 45vw;
    }
    
    #sent {
        max-width: 45vw;
    }

    .sendMessage {
        position: fixed;
        bottom: 0rem;
        left: 5rem;
        margin-left: 0rem;
    }
    
    .sendMessage .input {
        width: 70vw;
    }
}
/* *** */