.signup-section {
    display: flex;
}

.signup-section > div {
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-section h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

.signup-section .input {
    display: block;
    width: 100%;
    margin-bottom: 0.75rem;
}

.signup-section .primary-button {
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.signup-section .section-left {
    padding-inline: 1rem;
}

.signup-section .section-right {
    background-color: #f85c3a;
}

.signup-section img {
    min-width: 200px;
    width: 60%;
}

#signup-message {
    color: red;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
    .signup-section .section-left {
        width: 100vw;
    }
    .signup-section .section-right {
        display: none;
    }
}