.container {
    display: grid;
    grid-template-columns: 920px auto;
    grid-template-rows: 100vh;
}

.right-side {
    grid-column: 2;
    grid-row: 1;
    background-color: #F85C3A;
    background-image: url(../assets/logo/un-logo-mini_lightOrange.svg);
    background-size: 50px;
}

.left-side {
    grid-column: 1;
    grid-row: 1;
    padding: 5rem 10rem;

    text-align: center;
    overflow-y: scroll;
}

.hamburger {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.hamburger:hover {
    cursor: pointer;
}

.tipItem {
    padding-top: 5rem;
}

#tipTitle {
    font-size: 1.7rem;
}

#tipDesc {
    font-size: 1rem;
    padding-top: 1rem;
}