<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unified</title>
    <link rel="stylesheet" href="../public/css/home.css">

    <!-- Fonts (Obviously Wide + Nunito Sans) -->
    <link rel="stylesheet" href="https://use.typekit.net/xup5ffl.css ">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
</head>

<body>
    <div class="homeContainer">

        <div class="homeNav">
            <div class="navList">
                <a class="about" id="navItem" href="#about_us">About Us</a>
                <a class="contact" id="navItem" href="#contact_us">Contact Us</a>
                <a class="logo"><img src="../public/assets/logo/un-logo-primary.svg" alt="logo"></a>
                <a class="serve" id="navItem" href="#services">Services</a>
                <a id="navItem" href="/login">Login</a>
            </div>
        </div>

        <div class="homeBody">
            <div class="homeBodyText">
                Stay Connected. Stay Unified.
            </div>
            <div class="btnDiv">
                <a href="/sign-up"><button class="joinBtn">Join Now</button></a>

            </div>
        </div>

        <div class="homeImage">
            <div id="homepageImage"></div>
        </div>

        <div class="aboutUs">
            <div class="title">
                About Us
            </div>
            <div class="description">We are a group of BCIT students working on an app designed to help students get
                accustomed to their post-secondary education.</div>
        </div>

        <div class="contactUs">
            <div class="title">
                Contact Us
            </div>
            <div class="description">Please contact us at placeholderEmail@hotmail.com <br> or contact us at (123) 456-7890
            </div>
        </div>

        <div class="service">
            <div class="title">
                Services
            </div>
            <div class="description">Get information from other students from any post-secondary through threads that
                you and everyone else will post! Discover some hidden tips that you may not know about, or find
                information about all your courses!</div>
        </div>

        <div class="homeFooter">BBY20</div>
    </div>

    <!-- Custom JS -->
    <script src="/public/js/skeleton.js"></script>
    <script src="/public/js/global.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="../public/js/home.js"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>